.text-alert{
  color: #ffffff;
  width: 100%;
  text-align: center;
  background-color: rgb(255, 86, 24);
}

main{
  width: 100vw;
  background-color: #f5f5f5;
  background: fixed;
  margin-top: 65px;
}
.main{
  width: 100vw;
  display: flex;
  background-color: #f5f5f5;
}

/*左のバー*/
.left-bar{
  width: 25%;
}

/*メインのUI*/
.center{
  width: 50%;
}


.share-content{
  margin: 15px 0;
  width: 100%;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  background-color: #ffffff;
}

.share-content-main{
  margin: 10px;
}

.img-name-title-edit{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.img-name-title{
  display: flex;
}

.user-image{
  margin-right: 8px;
  height: 42px;
  width: 42px;
  border: 1px solid black;
  border-radius: 21px;
}

.name-content{
  font-weight: bold;
  font-family: sans-serif;
}

.title-content{
  margin-bottom: 25px;
  color: #3e3e3e;
}

.ed-de{
  cursor: pointer;
  height: 24px;
}

.content-lists{
  width: 80px;
  height: 87px;
  position: absolute;
  top: 24px;
  left: 90%;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(125, 125, 125, 0.5);
}

.content-lists li{
  padding: 10px;
}

.content-lists li:hover{
  background-color: #dcdcdc;
  padding: 10px;
}

.content-pulldown-btn{
  text-decoration: none;
  color: black;
}

.text-content{
  margin: 0 52px 20px 52px;
}

.more-content{
  color: #797979;
  cursor: pointer;
  display: inline;
}

.text-open-content{
  margin: 0 52px 20px 52px;
}

.display{
  display: block;
}
.hidden{
  display: none;
}

.url-content{
  margin-left: 52px;
  color: #3e3e3e;
}

.image-box{
  margin: 10px 30px 10px 52px;
}

.image-content{
  display: block;
  max-height: 500px;
  max-width: 100%;
  border-radius: 5px;
}

/*いいね・コメント一覧ボタン*/
.good-comment{
  margin: 0 0 10px 52px;
  display: flex;
  align-items: center;
}

.like-icon:hover{
  transition: 0.2s;
  opacity: 0.6;
}

.comment-find-btn{
  margin-left: 50px;
}

.look-comment{
  color: #797979;
  text-decoration: none;
}

/*コメントフォーム*/
.form-content{
  height: 50px;
  width: 100%;
  border-top: 1px solid #b3b3b3;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-comment{
  border-bottom-left-radius: 10px;
  width: 100%;
  padding-left: 52px;
  border: none;
  resize: none;
  /*自動で伸縮するように変更する*/
}

.send-form{
  height: 30px;
  width: 50px;
  border: none;
  background-color: #ffffff;
}

/*右のバー*/
.right-bar{
  width: 25%;
}

