.header {
  height: 65px;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 500;
  box-shadow: 0 2px 10px 0 rgba(125, 125, 125, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-left{
  display: flex;
  align-items: center;
}

.header-title{
  margin-left: 7px;
  color: black;
  font-size: 35px;
  font-family: cursive;
  font-weight: bold;
  text-decoration: none;
}

.header-search{
  align-items: center;
  text-align: center;
}

.header-right{
  display: flex;
  align-items: center;
}

.header-signin-btn{
  color: #3e3e3e;
  text-decoration: none;
}

.header-signup-btn{
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.header-lists{
  width: 120px;
  height: 87px;
  position: absolute;
  top: 75px;
  right: 15%;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(125, 125, 125, 0.5);
}

.header-lists li{
  padding: 10px;
}

.header-lists li:hover{
  background-color: #dcdcdc;
}

.header-pulldown-btn{
  text-decoration: none;
  color: black;
}

.hidden{
  display: none;
}

