<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class = "header">
  <div class = "header-left">
    <div class = "header-icon">画像</div>
    <div class = "header-search">検索するところ</div>
  </div>
  <div class = "header-right">
    <div class = "header-signin-btn">ログイン</div>
    <div class = "header-signup-btn">新規登録</div>
  </div>
</header>