<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class = "header">
  <div class = "header-left">
    <%= image_tag 'bikeicon.png', size: '55x55', class: "header-icon"%>
    <%= link_to 'RootShare', root_path, class: "header-title"%>
  </div>
  <%#= form_with(url: hoge, local: true, method: :get, class: "search-form") do |form| %>
    <%#= form.text_field :hoge, placeholder: "投稿を検索する", class: "header-search" %>
    <%#= form.submit "検索", class: "search-btn" %>
  <%# end %>
  <div class = "header-search">検索するところ</div>
  <div class = "header-right">
    <%= link_to 'ログイン', new_user_session_path, class: "header-signin-btn"%>
    <%= link_to '新規登録', new_user_registration_path, class: "header-signup-btn"%>
  </div>
</header>