<div class = "good-show-background">
  <%=image_tag("close-icon", class:"close-btn", size: "36x36", id:"close-btn")%>
  <div class = "good-show-main">
    <div class = "good-show-top"><h6>いいね！</h6></div>
    <div class = "good-show-inside">
      <div class = "good-show-list">
      </div>
    </div>
  </div>
</div>