<div class = "good-show-background" id = "good-show-background">
  <%=image_tag("close-icon", class:"close-show-btn", size: "36x36", id:"close-btn")%>
  <div class = "good-show-main">
    <div class = "good-show-top"><h6>いいね！</h6></div>
    <div class = "good-show-inside">
      <% @goods.each do |good| %>
      <div class = "good-show-list">
        <div class = "user-image"></div>
        <div class = "name-content"><%good.user.nickname%></div>
      </div>
      <%end%>
    </div>
  </div>
</div>